@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
    --bright-blue: #3a7bfd;
    --border-radius-5: 5px;
    --item-height: 64px;
    --transition-start: 100ms;
    --transition-end: 700ms;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    background: var(--bg-image-top);
    background-color: var(--bg-main-color);
    background-size: contain;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.25px;
    color: var(--color-font);
    gap: 48px;
    padding-block-start: 70px;
}

img {
    /* display: block; */
    width: 100%;
    height: auto;
}

.flex-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.light-theme {
    --bg-image-top: 0 0 url("../images/bg-desktop-light.jpg") no-repeat;
    /* --bg-main-color: #fafafa; */
    --bg-main-color: #f2f2f2;
    --bg-todos: #fafafa;
    --color-font: #494c6b;
    --color-font-control: #9495a5;
    --color-font-new-todo: #393a4b;
    --color-font-line-through: #d1d2da;
    --color-font-hover: #494c6b;
    --color-border-li: #e3e4f1;
    --shadow-todos: #c2c3d6;
}

.dark-theme {
    --bg-image-top: 0 0 url("../images/bg-desktop-dark.jpg") no-repeat;
    --bg-main-color: #161722;
    --bg-todos: #25273c;
    --color-font: #c8cbe7;
    --color-font-control: #5b5e7e;
    --color-font-new-todo: #767992;
    --color-font-line-through: #4d5067;
    --color-font-hover: #e3e4f1;
    --color-border-li: #393a4b;
    --shadow-todos: #161722;
}

header,
main,
footer {
    width: min(540px, 100%);
    margin: 0 auto;
}

header {
    justify-content: space-between;
}

/* main {
    margin-block-end: 49px;
} */

footer {
    text-align: center;
    color: var(--color-font-control);
    margin-block-start: 49px;
}

h1 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.theme #theme {
    display: none;
}

.theme #theme + label::before {
    content: "";
    background: url("../images/icon-sun.svg");
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.theme #theme:checked + label::before {
    background: url("../images/icon-moon.svg");
}

.new-todo {
    background: var(--bg-todos);
    height: var(--item-height);
    border-radius: var(--border-radius-5);
    margin-block-end: 24px;
    padding-inline: 26px;
    width: 100%;
    position: relative;
    color: var(--color-font-new-todo);

    & ::-webkit-input-placeholder {
        color: var(--color-font-control);
    }
    & ::-moz-placeholder {
        color: var(--color-font-control);
    }
}

.new-todo #addItem {
    background: transparent;
    color: var(--color-font);
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    letter-spacing: -0.3px;
    font-family: "Josefin Sans", sans-serif;
    font-size: inherit;
    margin-block-start: 4px;
    margin-inline-start: 47px;
}

.new-todo span {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-border-li);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.new-todo span:hover {
    background: center no-repeat url("../images/icon-check.svg"), linear-gradient(135deg, #57ddff, #c058f3);
}

.todos {
    background: var(--bg-todos);
    border-radius: var(--border-radius-5) var(--border-radius-5) 0 0;
    box-shadow: 0px 35px 50px 15px var(--shadow-todos);
}

ul {
    list-style: none;

    li {
        height: var(--item-height);
        padding-inline-start: 25px;
        padding-inline-end: 10px;
        border-bottom: 1px solid var(--color-border-li);
        position: relative;
        transition: color var(--transition-end) ease;
    }

    li input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 0;
        height: 0;
    }

    li input[type="checkbox"] ~ .checkmark {
        border: 1px solid var(--color-border-li);
    }
    li input[type="checkbox"] ~ .checkmark:hover {
        border-color: transparent;
        background: linear-gradient(var(--bg-todos), var(--bg-todos)) padding-box,
            linear-gradient(135deg, #57ddff, #c058f3) border-box;
    }

    li input[type="checkbox"]:checked ~ .checkmark:hover {
        border: 1px solid var(--color-font);
    }

    li input[type="checkbox"]:checked ~ .checkmark {
        background: center no-repeat url("../images/icon-check.svg"), linear-gradient(135deg, #57ddff, #c058f3);
    }

    li input[type="checkbox"]:checked ~ .text {
        text-decoration: line-through;
        color: var(--color-font-line-through);
    }

    li label {
        position: relative;
        cursor: pointer;
        font-size: inherit;
        padding: 2px 0 0 48px;
    }

    li.hidden {
        display: none;
    }

    li:hover {
        transition: color var(--transition-start) ease;
        color: var(--color-font-hover);

        & .remove {
            transition-property: display opacity;
            transition-duration: var(--transition-start);
            display: block;
            opacity: 1;

            @starting-style {
                opacity: 0;
            }
        }
    }
}

.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.remove {
    background: url("../images/icon-cross.svg") no-repeat;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: var(--transition-end);
    transition-behavior: allow-discrete;
}

.control {
    padding: 20px;
    padding-inline-start: 27px;
    font-size: 14px;
    letter-spacing: -0.19px;
    align-items: baseline;
    border-radius: 0 0 var(--border-radius-5) var(--border-radius-5);
    background: var(--bg-todos);
    justify-content: space-between;
    color: var(--color-font-control);

    & * span {
        transition: color var(--transition-end);
    }
    & * span:hover {
        transition: color var(--transition-start);
        color: var(--color-font-hover);
    }
}

.control-last {
    display: none;
    border-radius: var(--border-radius-5);
    height: var(--item-height);
    margin-block-start: 24px;
    box-shadow: 0px 35px 50px 15px var(--shadow-todos);

    & .filter {
        font-size: 14px;
    }
}

.filter {
    gap: 18px;
    font-weight: 700;
    justify-content: center;

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;
    }

    input[type="radio"]:checked ~ span {
        color: var(--bright-blue);
    }

    label {
        cursor: pointer;
    }
}

.clear {
    cursor: pointer;
    &:hover {
        color: var(--color-font-hover);
    }
}

.dragged {
    border-bottom: 1px solid var(--bright-blue);
}
@media (max-width: 550px) {
    :root {
        --item-height: 48px;
    }

    header,
    main,
    footer {
        width: min(327px, 100%);
    }

    body {
        font-size: 12px;
        padding-block-start: 40px;
    }
    h1 {
        font-size: 26px;
    }

    footer {
        margin-block-start: 40px;
    }

    /* ul li {
        min-height: 48px;
    } */
    .light-theme {
        --bg-image-top: 0 0 url("../images/bg-mobile-light.jpg") no-repeat;
    }
    .dark-theme {
        --bg-image-top: 0 0 url("../images/bg-mobile-dark.jpg") no-repeat;
    }

    .control {
        font-size: 12px;
    }

    .new-todo {
        /* height: 48px; */
        margin-block-end: 16px;
    }

    .new-todo span {
        width: 20px;
        height: 20px;
    }

    .checkmark {
        height: 20px;
        width: 20px;
    }
}
