@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
    /* text */
    /* --text-main: 14px;
    --lspacing-main: -0.19px;
    --text-list: 18px;
    --lspacing-list: -0.25px;
    --text-logo: 40px;
    --lspacing-logo: 15px; */

    /* colors */
    --bright-blue: #3a7bfd;
    /* light-theme */
    /* --very-light-gray: #fafafa;
    --very-light-grayish-blue: #e4e5f1;
    --light--gayish-blue: #d2d3db;
    --dark-grayish-blue: #9394a5;
    --very-dark-grayish-blue: #484b6a; */

    /* dark-theme */
    /* --very-dark-blue: #161722;
    --very-dark-desaturated-blue: #25273c;
    --light-grayish-blue: #cacde8;
    --light-grayish-blue-hover: #e4e5f1;
    --dark-grayish-blue: #777a92;
    --very-dark-grayish-blue: #4d5066;
    --very-dark-grayish-blue: #393a4c; */

    /* border-radius */
    --border-radius-5: 5px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
    background: var(--bg-image-top);
    background-color: var(--bg-main-color);
    background-size: contain;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.25px;
    color: var(--color-font);
    gap: 48px;
    padding-block-start: 70px;
}

img {
    display: block;
    width: 100%;
}

.flex-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.light-theme {
    --bg-image-top: 0 0 url("../images/bg-desktop-light.jpg") no-repeat;
    --bg-main-color: #fafafa;
    --bg-todos: #fafafa;
    --color-font: #9394a5;
    --color-font-hover: #161722;
    --shadow-todos: #484b6a;
}

.dark-theme {
    --bg-image-top: 0 0 url("../images/bg-desktop-dark.jpg") no-repeat;
    --bg-main-color: #161722;
    --bg-todos: #25273c;
    /* --color-font: #cacde8; */
    --color-font: #C8CBE7;
    --color-font-control: #5B5E7E;
    --color-font-new-todo: #767992;
    --color-font-line-through: #4D5067;
    --color-font-hover: #E3E4F1;
    --shadow-todos: #161722;
}

header,
main,
footer {
    width: min(540px, 100%);
    margin: 0 auto;
}

header {
    justify-content: space-between;
    /* padding-block-start: 52px; */
    /* padding-block-end: 11px; */
}

main {
    margin-block-end: 49px;
}

footer {
    text-align: center;
    color: #5B5E7E;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

/* .theme {
    margin-block-start: -10px;
} */

.theme #theme {
    display: none;
}

.theme #theme + label::before {
    content: "";
    background: url("../images/icon-sun.svg");
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.theme #theme:checked + label::before {
    background: url("../images/icon-moon.svg");
}

.new-todo {
    background: var(--bg-todos);
    height: 64px;
    border-radius: var(--border-radius-5);
    margin-block-end: 24px;
    padding-inline: 26px;
    width: 100%;
    position: relative;
    color: var(--color-font-new-todo);
}

.new-todo #addItem {
    background: transparent;
    color: var(--color-font);
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
    letter-spacing: -0.3px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    margin-block-start: 4px;
    margin-inline-start: 47px;
}

.new-todo span {
    display: block;
    width: 25px;
    height: 25px;
    border: 1px solid var(--color-font);
    border-radius: 50%;
    position: absolute;
    /* left: 26px;  */
    /* top: 21px; */
    cursor: pointer;
}

.new-todo span:hover {
    background: center no-repeat url("../images/icon-check.svg"), linear-gradient(135deg, #57ddff, #c058f3);
}

.todos {
    background: var(--bg-todos);
    border-radius: var(--border-radius-5);
    box-shadow: 0 42px 30px -9px var(--shadow-todos);
}

ul {
    list-style: none;

    li {
        min-height: 64px;
        padding-inline-start: 25px;
        padding-inline-end: 10px;
        border-bottom: 1px solid var(--color-font);
        position: relative;
    }

    li input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 0;
        height: 0;
    }

    li input[type="checkbox"] ~ .checkmark {
        border: 1px solid var(--color-font);
    }
    li input[type="checkbox"] ~ .checkmark:hover {
        border-color: transparent;
        background: linear-gradient(var(--bg-todos), var(--bg-todos)) padding-box,
            linear-gradient(135deg, #57ddff, #c058f3) border-box;
    }

    li input[type="checkbox"]:checked ~ .checkmark:hover {
        border: 1px solid var(--color-font);
    }

    li input[type="checkbox"]:checked ~ .checkmark {
        background: center no-repeat url("../images/icon-check.svg"), linear-gradient(135deg, #57ddff, #c058f3);
    }

    li input[type="checkbox"]:checked ~ .text {
        text-decoration: line-through;
        color: var(--color-font-line-through);
    }

    li label {
        position: relative;
        cursor: pointer;
        font-size: 18px;
        padding: 2px 0 0 48px;
    }

    li.hidden {
        display: none;
    }

    li:hover {
        color: var(--color-font-hover);

        & .remove {
            display: block;
        }
    }
}

.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.remove {
    background: url("../images/icon-cross.svg") no-repeat;
    width: 18px;
    height: 18px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 25px;
}

.control {
    padding: 20px;
    padding-inline-start: 27px;
    font-size: 14px;
    letter-spacing: -0.19px;
    align-items: baseline;
    border-radius: var(--border-radius-5);
    background: var(--bg-todos);
    justify-content: space-between;
    color: var(--color-font-control);

    & * span:hover {
        color: var(--color-font-hover);
    }
}

/* .items-left { */
/* margin-inline-end: 86px; */
/* } */

.filter {
    gap: 18px;

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;
    }

    input[type="radio"]:checked ~ span {
        color: var(--bright-blue);
    }

    label {
        cursor: pointer;
    }
}

.clear {
    cursor: pointer;
    &:hover {
        color: var(--color-font-hover);
    }
}

.dragged {
    border-bottom: 1px solid var(--bright-blue);
}

/* TODO: clean code */
/* TODO: add adaptive */
